
/* =======  Font type  =======  */
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
}



/* =======  Global Styles  =======  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: #012E40;
    background-image: linear-gradient(to bottom right,#172026, #011740, #023535);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/* ======= Header-Section Styles ======= */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1.44% 5% 1.44%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom right,#172026, #011740);
}

.name a {
    cursor: default;
}

.bold {
    font-weight: bold;
}

.name a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

ul li {
    display: inline-block;
    list-style: none;
    margin-left: 35px;
}

li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

li a:hover, .active {
    color: #41BFB3;
}


/* ======= Hamburger Styles ======= */

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1.44% 5% 1.44%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-image: linear-gradient(to bottom right,#172026, #011740);
    /*background-color: yellow;*/
    /*margin-top: 70px;*/
}

.logo-name {
    color: #fff;
}

#hamburger-nav {
    display: none;
}

.hamgurger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 24px;
   width: 30px; 
   cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;
    margin-top: 6px;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-image: linear-gradient(to bottom,#172026, #011740, #023535);
    width: 80%;
    max-height: 0;
    overflow: hidden;
    transition: all.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(6px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(6px, -5px);
}


.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
.hamburger-icon span:last-child {
    transform: none;
}



/* ======= Media queries for navigation menu ======= */

@media screen and (max-width: 1023px) {
    #hamburger-nav {
        display: flex;
    }

    header {
        display: none;
    }
}



/* ======= Main section Styles ======= */

.about-me {
    color: #fff;
    /*margin-top: 8%;*/
    margin-top: 150px;
    padding: 0 2.7%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /*border: 1px solid red;*/
    overflow: hidden;
    z-index: 0;
    /*flex-direction: column;*/
    /*background-color: tomato;*/
}

.name2 h1 {
    color: #41BFB3;
    font-size: 1.8rem;
}

.name2 {
    /*background-color: red;*/
    color: #41BFB3;
    line-height: 1.6;
}

.intro .mobile {
    /*border: 1px solid green;*/
    display: none;
}

.details {
    /*border: 1px solid pink;*/
    line-height: 170%;
    padding: 0 5px 0;
}

.details a {
    text-decoration: none;
    color: #41BFB3;
}

/*.name2 {
    border: 1px solid white;
}*/

.pic {
    width: 30%;
    height: 300px;
    /*border-radius: 50px;*/
}

.pic img {
    max-width: 100%;
    border-radius: 30px;
    /*background-blend-mode: lighten;*/
    
}

.intro, .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro {
    width: 60%;
}

.details {
    /*height: 20%;*/
    /*background-color: yellow;*/
    margin: 25px 0;
    /*padding: 5% 0;*/
    width: 80%;
    text-align: left;
    /*align-items: center;*/
}

.details p {
    padding-bottom: 20px;
}

.skills {
    width: 80%;
    /*background-color: green;*/
    margin: 25% auto;
    text-align: center;
}

.skills h2 {
    color: #fff;
    margin-bottom: 5%;
}

.container {
    border: 1px solid #41BFB3;
    border-radius: 10px;
    padding: 50px 20px 0px;
    /*padding: 20px;*/
    margin-bottom: 50px;
}


.icons {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 3%;
    width: 100%;
}

.icons div {
    padding-bottom: 5%;
}

.js_icon {
    width: 50px;
    height: 50px;
}

.git {
    color: #f15025;
}

.html {
    color: #e34c26;
}

.css {
    color: #264de4;
}

.others {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 5%;
}

.others div {
    /*background-color: #41BFB3;*/
    background-color: #012E40;
    background-image: linear-gradient(to bottom right,#172026, #011740, #023535);
    padding: 1%;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}



/* ======= Footer Section Styles ======= */

.footer {
    margin-top: 70px;
    bottom: 20px;
    width: 100%;
}

.copyright {
    margin: 0 auto;
    padding: 10px 0 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: .8rem;
    border-top: 1px solid rgb(65, 191, 179, 0.3);
    width: 80%;
}

.item {
    margin-right: 5px;
}

.fa-copyright {
    padding-top: 2.8px;
}



/* ======= Media queries for page layout ======= */

@media screen and (max-width: 1023px) {
    .about-me .one {
        display: none;
    }

    .intro .mobile {
        display: block;
        margin-left: 10%;
    }

    .pic {
        width: 80%;
        height: 100%;
        overflow: hidden;
        margin: 30% 0 40%;
        border-radius: 10px;
        /*background-blend-mode: luminosity;*/
    }
    
    .pic img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .intro {
        justify-content: center;
        width: 100%;
    }
    
    .details {
        width: 100%;
    }

    .footer {
        margin-top: 20%;
        color: transparent;
    }

    .container {
        padding: 20px;
    }
    
}



