
/* =======  Font type  =======  */

@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins-Regular.ttf);
}



/* =======  Global Styles  =======  */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/* ======= Header-Section Styles ======= */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1.44% 5% 1.44%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #000;
}

.name a {
    cursor: default;
}

.bold {
    font-weight: bold;
    
}

.name a, .mobile div {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
}

ul li {
    display: inline-block;
    list-style: none;
    margin-left: 35px;
}

li a {
    text-decoration: none;
    color: #fff;
    transition: .3s;
}

li a:hover, .active {
    color: #41BFB3;
    
}



/* ======= Hamburger Styles ======= */

.mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1.44% 5% 1.44%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: #000;
}

.logo-name {
    color: #fff;
}

#hamburger-nav {
    display: none;
}

.hamgurger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 24px;
   width: 30px; 
   cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all .3s ease-in-out;
    margin-top: 6px;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #8C8377;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: all.3s ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(6px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}
.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(6px, -5px);
}


.hamburger-icon span:first-child {
    transform: none;
}
.hamburger-icon span:nth-child(2) {
    opacity: 1;
}
.hamburger-icon span:last-child {
    transform: none;
}



/* ======= Media queries for navigation menu ======= */

@media screen and (max-width: 1023px) {
    #hamburger-nav {
        display: flex;
    }

    header {
        display: none;
    }
}



/* ======= Main section Styles ======= */

.intro {
    margin-top: 200px;
    padding: 0 5%;
    width: 60%;
    color: #fff;
    height: 100vh;
}

.about-me {
    width: 90%;
}

.about-me h1 {
    width: 100%;
    margin-bottom: 10px;
}

.about-me h2 {
    color: #41BFB3;
    margin-bottom: 40px;
}

.about-me p {
    margin-top: 15px;
    line-height: 170%;
}

.see-more {
    font-weight: normal;
    color: #41BFB3;
}

.see-more:hover {
    color: #ff9933;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 50px;
    margin-top: 50px;
    background-color: transparent;
}

.contact-me a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    width: 45%;
    color: #000;
    background-color: #41BFB3;
    border: 1.5px solid #41BFB3;
    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    z-index: 1;
    transition: .5s;
    font-size: 1rem;
}

.contact-me a:nth-child(2) {
    background-color: transparent;
    color: #41BFB3;
}

.contact-me a:nth-child(2)::before{
    background-color: #41BFB3; 
}

.contact-me a:nth-child(2):hover {
    /*color: #011740;*/
    color: #000;
}

.contact-me a:hover {
    color: #41BFB3;
}
.contact-me a::before {
    content: '';
    height: 100%;
    width: 0%;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: .5s;
}

.contact-me a:hover::before {
    width: 100%;
}

.socials {
    padding: 0 8%;
    margin-top: 7%;
}

.social-links .fa {
    border: 1.5px solid #41BFB3;
    border-radius: 50%;
    padding: 10px;
    margin-right: 20px;
    color: #41BFB3;
}

.social-links .fa:hover {
    background-color: #41bfb3;
    color: #000;
    cursor: pointer;
}    



/* ======= Footer Section Styles ======= */

.footer {
    margin-top: 70px;
    bottom: 20px;
    width: 100%;
}

.copyright {
    margin: 0 auto;
    padding: 10px 0 20px;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: .8rem;
    border-top: 1px solid rgb(65, 191, 179, 0.3);
    width: 80%;
}

.item {
    margin-right: 5px;
}

.fa-copyright {
    padding-top: 2.8px;
}



/* ======= Media queries for page layout ======= */

@media screen and (max-width: 1023px) {
    .intro {
        width: 100%;
        margin-top: 150px;
    }

    .about-me {
        width: 100%;
    }

    .contact-me {
        width: 70%;
        height: 40px;

    }
}

